<table class="bd-spacing-table table">
  <thead>
    <tr>
      <th align=left>Name</th>
      <th align=left>Version</th>
      <th align=left>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @story_formats.each do |story_format| %>
      <tr>
        <td><%= story_format.name %></td>
        <td><%= story_format.version %></td>
        <td><%= story_format.author %></td>
        <td><%= link_to 'Show', story_format %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_story_format_path(story_format) %></td>
          <td><%= link_to 'Delete', story_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Story Format', new_story_format_path) if current_user %>
