<p>
  Name and Version: <%= @story_format.name %> <%= @story_format.version %>
</p>

<p>
  Author: <%= @story_format.author %>
</p>

<p>
  <strong>Header:</strong>
  <%= truncate(@story_format.header, length: 60) %>
</p>

<p>
  <strong>Footer:</strong>
  <%= truncate(@story_format.footer, length: 60) %>
</p>

<%= link_to 'Edit', edit_story_format_path(@story_format) %> |
<%= link_to 'Index', story_formats_path %>
