<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story_format.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story_format.author %>
</p>

<p>
  <strong>Header:</strong>
  <%= @story_format.header %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @story_format.footer %>
</p>

<%= link_to 'Edit', edit_story_format_path(@story_format) %> |
<%= link_to 'Back', story_formats_path %>
