<%= form_with(model: current_user, url: settings_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :time_zone %><br>
    <%= time_zone_select("user", :time_zone, nil, default: current_user.time_zone) %>
  </div>

  <div class="field">
    <%= form.label :date_format_yesterday %><br>
    <%= form.text_field :date_format_yesterday, size: 32 %>
  </div>

  <div class="field">
    <%= form.label :date_format_today %><br>
    <%= form.text_field :date_format_today, size: 32 %>
  </div>

  <div class="field">
    <%= form.label :date_format_this_year %><br>
    <%= form.text_field :date_format_this_year, size: 32 %>
  </div>

  <div class="field">
    <%= form.label :date_format_other_year %><br>
    <%= form.text_field :date_format_other_year, size: 32 %>
  </div>

  <p><a href="/users/edit">Change password or close account</a></p>

  <div class="actions">
    <%= form.submit "Save Preferences", class: "button" %>

  </div>
<% end %>
