<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input is-primary" %>
  </div>

  <div class="field">
    <%= form.label :story_format_id %>
    <%= form.select :story_format_id, StoryFormat.all.collect{|s| [s.name.to_s + ' ' + s.version.to_s, s.id]} %>
    <%= link_to "List Story Formats", story_formats_path %>
  </div>

  <div class="field">
    <%= form.label :ifid, "IFID" %>
    <%= form.text_field :ifid, class: "input is-primary" %>
  </div>

  <div class="field">
    <%  css_style = "min-height: " + (story.stylesheet.to_s.length > 50 ? "16rem" : "2rem") %>
    <%= form.label :stylesheet %>
    <%= form.text_area :stylesheet, class: "textarea is-primary", style: css_style  %>
  </div>

  <div class="field">
    <%  css_style = "min-height: " + (story.script.to_s.length > 50 ? "16rem" : "2rem") %>
    <%= form.label :script %>
    <%= form.text_area :script, class: "textarea is-primary", style: css_style %>
  </div>

  <div class="field">
    <%= form.label :start_passage_id, "Starting Passage" %>
    <%= form.select :start_passage_id, @story_passages.collect{|s| [s.passage.user.email.to_s + ' ' + s.passage.name.to_s, s.passage.id]}, class: "select is-primary" %>
  </div>

<h2>Story Passages</h2>

<table class="bd-spacing-table table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story_passages.each do |story_passage|
      passage = story_passage.passage %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= truncate(strip_tags(passage.name), length: 60) %>
        </td>
        <td class="timestamp">
          <%= show_timestamp(passage.updated_at) %>
        </td>
        <td>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Show', passage %></li>
            <li><%= link_to 'Remove', story_passage, method: :delete, data:
                    { confirm: 'Remove passage from story?' } %> </li>
            <% if current_user&.id == story.user_id %>
              <li><%= link_to 'Edit', edit_passage_path(passage) %></li>
            <% elsif current_user %>
              <li><%= link_to 'Copy and Edit', fork_passage_path(passage), method: :post %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'Add New Passage', new_passage_path %>
      </td>
    </tr>
  </tfoot>
</table>


  <div class="actions">
    <%= form.submit "Save", class: "button is-success" %>
  </div>
<% end %>
