<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input is-primary" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :story_format_id, class: "label" %>
    <div class="control">
      <nav class="level">
        <div class="level-left">
          <div class="select is-primary level-item">
            <%= form.select :story_format_id, StoryFormat.all.collect{|s|
                [s.name.to_s + ' ' + s.version.to_s, s.id]} %>
          </div>
          <div class="level-item">
            <%= link_to "List Story Formats", story_formats_path %>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="field">
    <%= form.label :ifid, "IFID", class: "label" %>
    <div class="control">
      <%= form.text_field :ifid, class: "input is-primary" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :stylesheet, class: "label" %>
    <div class="control">
      <%= form.text_area :stylesheet, class: "textarea is-primary",
          style: "min-height: " + (story.stylesheet.to_s.length > 50 ? "16rem" : "2rem") %>
    </div>
  </div>

  <div class="field">
    <%= form.label :script, class: "label" %>
    <div class="control">
      <%= form.text_area :script, class: "textarea is-primary",
          style: "min-height: " + (story.script.to_s.length > 50 ? "16rem" : "2rem") %>
    </div>
  </div>

  <div class="field">
    <%= form.label :start_passage_id, "Starting Passage", class: "label" %>
    <div class="control"><div class="select is-primary">
      <%= form.select :start_passage_id, @story_passages.collect{|s|
          [s.passage.user.email.to_s + ' ' + s.passage.name.to_s, s.passage.id]} %>
    </div></div>
  </div>

  <div class="field">
    <%= form.label nil, "Story Passages", class: "label" %>
    <div class="control">
      <% if @story_passages&.count > 0 %>
      <%= link_to 'View list of ' + @story_passages.count.to_s + ' passages',
          passages_path(filter: 'story_' + story.id.to_s) %>
      <% else %>
      None
      <% end %>
    </div>
    <%= link_to '+ Add New Passage', new_passage_path %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "button is-success" %>
  </div>
<% end %>
