<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 80 %>
  </div>

  <div class="field">
    <%= form.label :story_format_id %>
    <%= form.select :story_format_id, StoryFormat.all.collect{|s| [s.name.to_s + ' ' + s.version.to_s, s.id]} %>
  </div>

  <div class="field">
    <%= form.label :ifid, "IFID" %>
    <%= form.text_field :ifid, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :stylesheet %>
    <%= form.text_area :stylesheet %>
  </div>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_area :script %>
  </div>

  <div class="field">
    <%= form.label :start_passage_id, "Starting Passage" %>
    <%= form.select :start_passage_id, @story_passages.collect{|s| [s.passage.user.email.to_s + ' ' + s.passage.name.to_s, s.passage.id]} %>
  </div>

<h2>Story Passages</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story_passages.each do |story_passage|
      passage = story_passage.passage %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= truncate(strip_tags(passage.name), length: 60) %>
        </td>
        <td class="updated_at">
          <code><%= passage.updated_at.to_formatted_s(:long) %></code>
        </td>
        <td>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Show', passage %></li>
            <li><%= link_to 'Remove', story_passage, method: :delete, data:
                    { confirm: 'Remove passage from story?' } %> </li>
            <% if passage.user_id == current_user.id %>
              <li><%= link_to 'Edit', edit_passage_path(passage) %></li>
            <% else %>
              <li><%= link_to 'Copy and Edit', edit_passage_path(passage) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'Add New Passage', new_passage_path %>
      </td>
    </tr>
  </tfoot>
</table>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
