<% col_labels = { 'n' => 'Name',
                  'c' => 'Created',
                  'u' => 'Updated',
                  'o' => 'User',
                  'f' => 'Story format' } %>
<table class="bd-spacing-table table">
  <thead>
    <tr>
      <% @cols.keys.each do |ch| %>
        <% col_sort = ch + 'a' %>
        <% col_sort = ch + 'd' if col_sort == params[:sort] %>
        <th><%= link_to col_labels[ch], stories_path(filter: params[:filter], sort: col_sort) %></th>
      <% end %>
      <th>Passages</th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <% @cols.keys.each do |ch| %>
          <td><%= case ch
                  when 'n'
                    story.name
                  when 'c'
                    show_timestamp(story.created_at)
                  when 'u'
                    show_timestamp(story.updated_at)
                  when 'o'
                    story.user&.email
                  when 'f'
                    story.story_format&.name.to_s + ' ' +
                    story.story_format&.version.to_s
                  end %></td>
        <% end %>
<td>
<% passage_count = story.passages.count %>
<% if passage_count > 0 %>
 <%= link_to passage_count.to_s, passages_path(filter: 'story_' + story.id.to_s) %>
<% else %>
 None
<% end %>
</td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Read', formatted_stories_path(id: story.id), target: "_blank" %>
        <% if current_user&.id == story.user_id %>
          <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <% elsif current_user %>
          <td><%= button_to 'Copy and Edit', fork_story_path(story), method: :post, class: "button is-small" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Start a New Story', new_story_path %></p>
<p><%= link_to 'Upload a Story', new_import_path %></p>
