<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user.email %>
</p>

<p>
  <strong>Story format:</strong>
  <%= @story.story_format&.name.to_s + " " + @story.story_format&.version.to_s + " by " + @story.story_format&.author.to_s %>
</p>
<p>
  <strong>Created:</strong>
  <code><%= @story.created_at.to_formatted_s(:long) %></code>
</p>
<p>
  <strong>Updated:</strong>
  <code><%= @story.updated_at.to_formatted_s(:long) %></code>
</p>
<p>
  <strong>Passages:</strong>
<% if @story.passages.count > 0 %>
 <%= link_to 'View list of ' + @story.passages.count.to_s + ' passages', passages_path(filter: 'story_' + @story.id.to_s + "_" + @story.name) %>
<% else %>
 None
<% end %>
</p>
<p><%= link_to 'Read', formatted_stories_path(id: @story.id), target: "_blank" %></p>
<p><%= link_to 'Edit', edit_story_path(@story) %></p>
<p><%= link_to 'Edit Flow', flows_path(id: @story.id) %></p>
<% if @story.user == current_user %>
<p><%= link_to 'Add New Passage', new_passage_path %></p>
<% end %>

