<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user&.email %>
</p>

<p>
  <strong>Story format:</strong>
  <%= @story.story_format&.name.to_s + " " + @story.story_format&.version.to_s + " by " + @story.story_format&.author.to_s %>
</p>
<p>
  <strong>Created:</strong>
  <%= show_timestamp(@story.created_at) %>
</p>
<p>
  <strong>Updated:</strong>
  <%= show_timestamp(@story.updated_at) %>
</p>
<p>
  <strong>Passages:</strong>
<% if @story.passages.count > 0 %>
 <%= link_to 'View list of ' + @story.passages.count.to_s + ' passages', passages_path(filter: 'story_' + @story.id.to_s) %>
<% else %>
 None
<% end %>
</p>
<section class="section" style="padding: 1rem 1rem; padding-left: 0rem;">
<% StoryFormat.all.collect do |s| %>
  <p>
  <%= raw '<strong>' if s.id == @story.story_format_id %>
  <%= link_to "Read using " + s.name.to_s + ' ' + s.version.to_s,
           formatted_stories_path(id: @story.id, format: s.id), target: "_blank" %>
  <%= raw '</strong> (default format)' if s.id == @story.story_format_id %>
  </p>
<% end %>  
</section>

<% if current_user&.id == @story.user.id %>
<section class="section" style="padding: 1rem 1rem; padding-left: 0rem;">
<p><%= link_to 'Edit', edit_story_path(@story) %></p>
<p><%= link_to 'Edit Flow', flows_path(id: @story.id) %></p>
<p><%= link_to 'Add New Passage', new_passage_path %></p>
</section>
<% end %>
