<p id="notice"><%= notice %></p>

<p>
  <strong>Passage:</strong>
  <%= link_to @story.passage.title, passage_path(@story.passage) %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user.email %>
</p>

<p>
  <strong>Story format:</strong>
  <%= @story.story_format.name + " by " + @story.story_format.author %>
</p>

<%= link_to 'Read', formatted_stories_path(id: @story.id), target: "_blank" %>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'List of Stories', stories_path %>
