<%= form_with(model: passage, local: true) do |form| %>
  <% if passage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passage.errors.count, "error") %> prohibited this passage from being saved:</h2>

      <ul>
        <% passage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input is-primary" %>
  </div>

  <div class="field">
    <%= form.label :uuid, "UUID" %>
    <%= form.text_field :uuid, class: "input is-primary" %>
  </div>

  <div class="field">
    <%= form.label :content, "Edit " %>
    <% case passage.body_type %>
    <% when nil %>
      <%= form.text_area :content, class: "textarea is-primary", style: "min-height: 20rem" %>
    <% when "TextContent" %>
      <%= form.text_area :content, class: "textarea is-primary", style: "min-height: 20rem" %>
    <% else %>
      <div class="message is-dark message-body">[<%= passage.body_type + '#' + passage.body_id.to_s %>]</div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "button is-success" %>
  </div>
<% end %>
