<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1><%= @header_prefix %>Passages</h1>

<table>
  <thead>
    <tr>
      <th>Passage Name</th>
      <th>Created</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= truncate(strip_tags(passage.name), length: 60) %>
      </td>
      <td class="created_at">
        <code><%= passage.created_at.to_formatted_s(:long) %></code>
      </td>
      <td>
        <% if passage.user %>
          <%= passage.user.email %>
        <% end %>
      </td>
      <td class="actions">
        <ul>
          <li><%= link_to 'Show', passage %></li>
          <li><%= link_to 'Edit', edit_passage_path(passage) %></li>
          <% if @current_story %>
            <li><%= button_to "Add to #{@current_story.name}",
                    story_passages_path(story_id: @current_story.id, passage_id: passage.id) %>
 	    </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Passage', new_passage_path %>
      </td>
    </tr>
  </tfoot>
</table>
