<table class="bd-spacing-table table">
  <thead>
    <tr>
      <th>Passage Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% if @current_story 
         short_story_name = @current_story.name
         if short_story_name.length > 15
           short_story_name = short_story_name[0..12] + '...'
         end
         add_label = 'Add to ' + short_story_name
         remove_label = 'Remove from ' + short_story_name
         current_story_passages = {}
         StoryPassage.find_by_sql(
           "select id, passage_id from story_passages where story_id='" +
           @current_story.id.to_s + "'").each { |sp| current_story_passages[sp.passage_id] = sp }
         if current_story_passages.empty?
           current_story_passages = nil
         end
       else
         current_story_passages = nil
       end %>

    <% @passages.each do |passage| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= truncate(strip_tags(passage.name), length: 60) %>
      </td>
      <td class="timestamp">
        <%= show_timestamp(passage.created_at) %>
      </td>
      <td class="timestamp">
        <%= show_timestamp(passage.updated_at) %>
      </td>
      <td>
      <%= passage.user&.email %>
      </td>
      <td><%= link_to 'Show', passage %></td>
      <% if current_user&.id == passage.user_id %>
        <td><%= link_to 'Edit', edit_passage_path(passage) %></td>
      <% elsif current_user %>
        <td><%= button_to 'Copy and Edit', fork_passage_path(passage), method: :post, class: "button is-small" %></td>
      <% end %>

      <% if current_story_passages %>
        <td>
        <% story_passage = current_story_passages[passage.id] %>
        <% if story_passage %>
          <%= button_to remove_label, story_passage, method: :delete, class: "button is-danger is-small", data:
            { confirm: 'Remove passage from story?' } %>
        <% else %>
          <%= button_to add_label,
              story_passages_path(story_id: @current_story.id, passage_id: passage.id) %>
        <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <% if current_user %>
          <%= link_to 'New Passage', new_passage_path %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
