<% col_labels = { 'n' => 'Passage Name',
                  'c' => 'Created',
                  'u' => 'Updated',
                  'o' => 'User',
                  's' => 'Show',
                  'a' => 'Add',
                  'e' => 'Edit' } %>
<table class="bd-spacing-table table">
  <thead>
    <tr>
      <% @cols.keys.each do |ch| %>
        <% if 'sae'.index(ch) %>
          <th><%= col_labels[ch] %></th>
        <% else %>
          <% col_sort = ch + 'a' %>
          <% col_sort = ch + 'd' if col_sort == params[:sort] %>
          <th><%= link_to col_labels[ch], passages_path(filter: params[:filter], sort: col_sort) %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <% @cols.keys.each do |ch| %>
          <td>
            <%= case ch
                when 'n'
                  truncate(strip_tags(passage.name), length: 60)
                when 'c'
                  show_timestamp(passage.created_at)
                when 'u'
                  show_timestamp(passage.updated_at, passage.created_at)
                when 'o'
                  passage.user&.email
                when 's'
                  link_to 'Show', passage
                when 'e'
                  if current_user&.id == passage.user_id
                    link_to 'Edit', edit_passage_path(passage)
                  elsif current_user
                    button_to 'Copy and Edit',
                      fork_passage_path(passage), method: :post, class: "button is-small"
                  end
                when 'a'
                  if @current_story_passages
                    if story_passage = @current_story_passages[passage.id]
                      button_to @remove_label, story_passage, method: :delete,
                        class: "button is-danger is-small",
                        data: { confirm: 'Remove passage from story?' }
                    else
                      button_to @add_label,
                        story_passages_path(story_id: @current_story.id, passage_id: passage.id),
                        class: "button is-small"
                    end
                  end
                end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <% if current_user %>
          <%= link_to 'Start a New Passage', new_passage_path %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
