<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1><%= @passage.title %></h1>
<table>
  <tbody>
    <tr>
      <td class="created_at">
        <code><%= @passage.created_at.to_formatted_s(:long) %></code>
      </td>
      <td>
        <% if @passage.user %>
        <%= @passage.user.email %>
        <% end %>
      </td>
    </tr>
    <tr colspan="2">
      <%= @passage.body %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <ul>
          <% if @passage.user == current_user %>
            <li><%= link_to 'Edit', edit_passage_path(@passage) %></li>
            <li>
              <%=
                 link_to 'Destroy', 
                 @passage, 
                 method: :delete,
                 data: { confirm: 'Really delete ?' } %>
            </li>
          <% end %>
          <li>
            <%= link_to 'New Passage', new_passage_path %>
          </li>
          <li>
            <%= link_to 'Index', passages_path %>
          </li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>
