<!DOCTYPE html>
<html>
  <head>
    <title>Passages<%= ' - ' + @section_title if @section_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @nocache %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="layout-documentation page-overview">
    <header class="main">
      <aside>
      </aside>
    </header>

<nav id="navbar" class="bd-navbar navbar has-shadow is-spaced" style="display: inline-flex">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"><h3 class="title">Passages</h3></a>
    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= stories_path %>">
        <span>All Stories</span>
      </a>
      <a class="navbar-item" href="<%= passages_path %>">
        <span>All Passages</span>
      </a>
      <% if current_user %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><%= current_user.email %></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= stories_path(filter: 'mine') %>">
              <span>My Stories</span>
            </a>
            <a class="navbar-item" href="<%= passages_path(filter: 'mine') %>">
              <span>My Passages</span>
            </a>
            <a class="navbar-item" href="<%= settings_path %>">
              <span>Settings</span>
            </a>
            <div class="navbar-item">
            </div>
          </div>
        </div>
      <% end %>
      <% if session[:story_name] %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><%= session[:story_name] %></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= formatted_stories_path(id: session[:story_id]) %>" target="_blank">
              <span>Read</span>
            </a>
            <a class="navbar-item" href="<%= story_path(id: session[:story_id]) %>">
              <span>Show</span>
            </a>
            <a class="navbar-item" href="<%= edit_story_path(id: session[:story_id]) %>">
              <span>Edit</span>
            </a>
            <a class="navbar-item" href="<%= flows_path(id: session[:story_id]) %>">
              <span>Flow Diagram</span>
            </a>
          </div>
        </div>
      <% end %>
        
      <% if current_user %>
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "navbar-item button" %>
      <% else %>
        <a class="navbar-item" href="<%= sign_in_path %>">
          <span>Log In</span>
        </a>
      <% end %>
    </div>

  </div>
  </div>
</nav>

<main class="bd-main <%= controller.controller_name %>">
  <% if flash[:notice] %>
    <article class="message is-info">
      <div class="message-body"><%= flash[:notice] %></div>
    </article>
  <% end %>
  <% if @section_title&.index('Flow') != 0 %>
    <section class="section" style="padding: 0.5rem 1.5rem">
    <h5 class="subtitle" style="margin-inline-start: 0.5em"><%= @section_title %></h5>
  <% end %>
  <%= yield %>
  <% if @section_title&.index('Flow') != 0 %>
    </section>
  <% end %>
</main>
</body>
</html>

