<!DOCTYPE html>
<html>
  <head>
    <title>Passages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="main">
      <aside>
      </aside>
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><a href="/"><%= t('.home') %></a></li>
          <li><a href="/news"><%= t('.news') %></a></li>
          <li><a href="/contact"><%= t('.contact') %></a></li>
          <li><%= link_to "Popular Passages", passages_path %></li>
        </ul>
        <nav class="log_in_out_nav">
          <ul>
            <% if current_user %>
              <li><a href="/users/edit"><%= current_user.email %></a></li>
              <li><%= link_to "My Passages", passages_path(filter: 'mine') %></li>
              <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to("Log In", sign_in_path) %></li>
          <% end %>
          </ul>
        </nav>
        <%= Time.now.strftime('%F %H:%M %z') %>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>

