<!DOCTYPE html>
<html>
  <head>
    <title>Passages<%= ' - ' + @section_title if @section_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @nocache %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="main">
      <aside>
      </aside>
      <%# image_tag 'logo.svg', alt: 'Passages' %>
      <h1>Passages<%= ' - ' + @section_title if @section_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <!--
          <li><a href="/"><%= t('.home') %></a></li>
          <li><a href="/news"><%= t('.news') %></a></li>
          <li><a href="/contact"><%= t('.contact') %></a></li>
          -->
          <li><%= link_to "All Stories", stories_path %></li>
          <li><%= link_to "All Passages", passages_path %></li>
          <li><%= link_to "All Story Formats", story_formats_path %></li>
        </ul>
        <nav class="log_in_out_nav">
          <ul>
            <% if current_user %>
              <li><%= link_to current_user.email, settings_path %></li>
              <% if session[:story_name] %>
              <li><%= link_to session[:story_name], story_path(id: session[:story_id]) %><br>
              &nbsp;&nbsp;<%= link_to 'Edit', edit_story_path(id: session[:story_id]) %>
              &nbsp;-&nbsp;<%= link_to 'Flow', flows_path(id: session[:story_id]) %>
              &nbsp;-&nbsp;<%= link_to 'Read', formatted_stories_path(id: session[:story_id]), target: "_blank" %>
              </li>
              <% end %>
              <li><%= link_to "My Stories", stories_path(filter: 'mine') %></li>
              <li><%= link_to "My Passages", passages_path(filter: 'mine') %></li>
              <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to("Log In", sign_in_path) %></li>
          <% end %>
          </ul>
        </nav>
        <%= Time.now.strftime('%F %H:%M %z') %>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>

